# Dependency directories
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/

# Rider files
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]ealses/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.lock.json
project.lock.json

# Microsoft Azure Web App publish settings. Comment out if you want to include these.
*.publishsettings

# Microsoft Azure Web App publish output
*.azurePubxml
# *.azurePubxml.user

# Entity Framework Core
*.db
*.sqlite

# SQL Server
*.mdf
*.ldf

# Mac
.DS_Store